
 <div class="card text-white bg-dark mb-3" style=" box-shadow: 2px 8px 16px -4px black;">
     <div class="card-header d-flex ">
        <% if(post.user.avatar!=null) { %>
            <img src="<%= post.user.avatar %>" alt="image" width="35px" height="35px">
            <% } else { %> 
                <img src="https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg" alt="" width="100">
            <% } %>      
              <h4  style="text-transform: capitalize; margin-top: auto; margin-left: 10px;"><%= post.user.name %> <small class="text-muted" style="font-size: 20px; text-transform: none;">made a new post.</small></h4>
              <% if(locals.user && locals.user.id == post.user.id){ %>
                <small class="ml-auto">
                    <a href="/posts/destroy/<%= post.id %>" class="btn btn-outline-danger btn-sm "> Delete Post</a>
                </small>
                <% } %>
                
            </div>
   
    <div class="card-body">
         <h5 class="card-text"><%= post.content %></h5>
        
        
    </div>
    <% if(post.picture) { %>
        <img  class="card-img-bottom mx-auto mt-2" src="<%= post.picture %>" style="width: 300px; height: 300px;">
    <% } %>
    <div class="card-body">
    <%- include('_comment') -%>

   </div>
</div>