

<div class="container mt-2">
    <div class="row">
        <div class="col col-md-2 col-sm-4">
            <h1>groups</h1>
        </div>
        <div class="col col-md-8 col-sm-4" >
          <% if(locals.user){ %>
            <div class="container mt-5">
                <div class="container d-flex justify-content-center">
                    <img src="https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg" class="rounded-circle" width="70px" height="60px" alt="Image" class="mr-3">
                    <form action="/posts/create" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" name="content" id="" cols="90" rows="2" placeholder="What's on your mind,?" required></textarea>
                        </div>
                        <button class="btn btn-success btn-block btn-sm">Post</button>
                    </form>
                </div>
            </div>
           
            <div class="container mt-3 mx-auto">
               <% for(post of posts) { %>
                    <div class="container m-2 p-2" style="border: 1px solid grey;">
                       <h3 style="text-transform: capitalize;"><%= post.user.name %></h3>

                       <h5 class="ml-5"><%= post.content %></h5>

                       <div class="container mt-2">
                           <h5>Comments: </h5>
                         
                               <% for(comment of post.comments) { %>
                                <div class="container d-flex">
                                    <p><%= comment.user.name %>: </p>
                                    <p class="ml-3"> <%= comment.content %></p>
                                </div>
                                <% } %>
                          
                       </div>
                       
                        <!--form for comments-->
                     
                            <div class="container-fluid  mt-2 d-flex ">
                                <img src="https://png.pngtree.com/element_our/png/20181206/users-vector-icon-png_260862.jpg" class="rounded-circle" width="40px" height="40px" alt="Image" class="mr-3">
                                <div class="container">
                                    <form action="/comments/create" method="POST">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="content" placeholder="Add a comment.." required>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="hidden" name="post" value="<%= post._id %>">
                                        </div>
                                        <button class="btn btn-success btn-block btn-sm">Add comment</button>
                                    </form>
                                 </div>
                            </div>
                      

                    </div>
                <% } %>
            </div>
            <% } %>
        </div>

        <div class="col col-md-2 col-sm-4" >
            <h3 class="text-center">Friend List</h3>
        </div>
    </div>
</div>